body {
    background-color: rgb(110, 187, 223);
}

h1 {
    color: rgb(149, 108, 182);
    margin-left: 20px;

}

h2 {
    color: rgb(149, 108, 182);
    margin-left: 20px;

}

p {
    color: rgb(84, 36, 139);
}

div {
    color: rgba(123, 12, 214, 0.87);
}

.container {
    position: absolute;
    text-align: center;
    color: rgb(82, 53, 160);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

